<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />  
    <script src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>

    <title>留言簿</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<div id="main">

    <div id="form-area">
        <form action="/post" method="post">
            <table>
               <!--  <tr>
                    <th>姓名</th>
                    <td>
                        <input type="text" size="20" name="name">
                    </td>
                </tr> -->
                <tr>
                    <!-- <th>内容</th> -->
                    <td>
                        <textarea rows="5" cols="30" name="comment"></textarea>
                    </td>
                </tr>
            </table>
            <p>
                <button type="submit">提交</button>
            </p>
        </form>
    </div>
    <div id="open-btn">
        <a href="#" class="open-btn"> open </a>
    </div>
    <div id="entries-area" style="display: none;">
       

        <div class="content">
            {% for greeting in greeting_list%}
            <h4>{{greeting.name}}</h4>
                {{greeting.create_at}}
            <p>{{greeting.comment}}</p>
            {% endfor %}
        </div>
    </div>
</div>
</body>

<script>
    $('.open-btn').click(function(){
        if($('#entries-area').is(':hidden')){
            $('#entries-area').show()
        }else
        {
            $('#entries-area').hide()

        }
    })
  
  $(document).ready(function() {
    // 这里编写使用jQuery的代码
    
  });
</script>


</html>

